<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	
	<head>
		<meta charset="UTF-8">

		<!-- Change the title below here-->
		<title>Magic PHP | Demo</title>
		
		<!-- Call Stylesheets -->
		<link href="/resources/css/dark.css" rel="stylesheet" type="text/css" />
		<link href="/resources/css/fonts.css" rel="stylesheet" type="text/css" />
		<link href="/resources/css/custom.css" rel="stylesheet" type="text/css" />
		
		<!-- Call Jquery & Countdown Script -->
		<script src="/resources/js/jquery-latest.js" type="text/javascript"></script>
		<script src="/resources/js/jquery.countdown.js" type="text/javascript"></script>
		
	</head>
	<body>
		<!-- Overlay Div -->
		<div id="overlay">
		</div>
		<div id="overlay2" class="signup-toggle">
		</div>		
		<!-- Signup Div -->
		<div id="signup">
			<span class="icon-close signup-toggle" id="close-signup"></span>
			<form id="beer" name="beer" action="/web/private/functions/contact.php" method="POST">
				<div id="signup-inner">
					<input class="name text" name="first-name" type="text" placeholder="First Name"/>
					<input class="name text" name="last-name" type="text" placeholder="Last Name"/>
					<input class="email text" name="email" type="text" placeholder="Email Address"/>
				</div>
				<input type="submit" class="submit" value="Beer me!"/>
			</form>
		</div>
		<!-- Main Content -->
		<main id="wrap">
			<header>	
				<nav id="click-menu">
					<div class="menu">
  						<span class="menu-global menu-top"></span>
  						<span class="menu-global menu-middle"></span>
  						<span class="menu-global menu-bottom"></span>
					</div>
					<ul>
						<!-- Here is the Menu, the labels can be changed by editing the text in data-tooltip -->
						<li><a href="#"><span class="icon-user" data-tooltip="about"></span></a></li>
						<li><a href="#"><span class="icon-newspaper" data-tooltip="press"></span></a></li>
						<li><a href="#"><span class="icon-pin" data-tooltip="find us"></span></a></li>
					</ul>
				</nav>		
				<nav id="top-menu">
					<div id="nav-wrap">
						<!-- Logo Division -->
						<div id="logo">
							<h2>Magic PHP</h2>
						</div>
						<!-- Count Down -->
						<div id="counter">
							<span id="clock"></span> <span class="icon-alarm"></span>
						</div>
					</div>
				</nav>
				<section id="info">
					<!-- Title -->
					<h1>Beer vs Coffee</h1>
					<h3>Which one is better for your brain?</h3>
					<!-- Buttons Go here -->
					<div id="button-bar">
						<a class="call-to-action signup-toggle">Beer <span class="icon icon-envelope"></span></a>
						<a class="call-to-action social-toggle">Coffee <span class="icon icon-users"></span></a>
					</div>
				</section>
			</header>
			<!-- Social Connect Bar -->
			<footer id="social-bar">
  				<div id="social-inner">
  					<ul id="social-list">
  						<li><a href="#"><span class="icon icon-dribbble"></span></a></li>
  						<li><a href="#"><span class="icon icon-instagram"></span></a></li>
  						<li><a href="#"><span class="icon icon-delicious"></span></a></li>
  						<li><a href="#"><span class="icon icon-facebook"></span></a></li>
  						<li><a href="#"><span class="icon icon-googleplus"></span></a></li>
  					</ul>
  				</div>
			</footer>
		</main>
		
		<script src="/resources/js/custom.js" type="text/javascript"></script>
		
	</body>
</html>