<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	
	<head>
		<meta charset="UTF-8">

		<!-- Change the title below here-->
		<title>Thank You for Subscribing!</title>
		
		<!-- Call Stylesheets -->
		<!-- Choose the light (light.css) or dark (dark.css) theme to suit you -->
		<link href="css/dark.css" rel="stylesheet" type="text/css" />
		<link href="css/fonts.css" rel="stylesheet" type="text/css" />

		
	</head>
	<body>
		<!-- Overlay Div -->
		<div id="message-overlay">
		</div>
		<main id="wrap">
			<div id="thank-you">
				<div id="inner">
					<h1>Thank You!</h1>
					<h4>For Subscribing to our newsletter</h4>
				</div>
				<div id="button-bar">
					<div id="button" class="full">
						<a href="index.html">Go Home</a>
					</div>
				</div>
			</div>
		</main>

	</body>
</html>